<h2>Produto</h2>
<hr />
@model SistemaVenda.Models.ProdutoViewModel

@{
    var disable = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<form asp-controller="Produto" asp-action="Cadastro" method="post">

    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />

    <div class="form-group">

        <div class="col-4">
            <label>Nome</label>
            <input asp-for="Descricao" type="text" value="@Model.Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">

        <div class="col-4">
            <label>Quantidade</label>
            <input asp-for="Quantidade" type="number" value="@Model.Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">

        <div class="col-4">
            <label>Valor do Protudo</label>
            <input asp-for="Valor" type="text" value="@Model.Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">

        <div class="col-4">
            <label>Categoria</label>
            <select asp-for="CodigoCategoria" class="form-control input-group-lg" asp-items="@Model.ListaCategoria"></select>
            <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
        </div>

    </div>

    <br />

    <div class="col">
        <button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
        <button type="submit" class="btn btn-success">Gravar</button>
        <button type="button" class="btn btn-warning" onclick="Listagem()">Voltar</button>
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)" @disable>Excluir</button>
    </div>


</form>

<script>
    function Novo() {
        Request("Cliente");
    }
    function Listagem() {
        Request("");
     }
    function Excluir(Codigo) {
        Request("Excluir\\" + Codigo);
    }
    function Request(request) {
        window.location = window.origin + "\\Produto\\" + request;
    }
</script>

